.header {
	h1 {
		font-size: 72px;

	    margin-bottom: 15px;
	    text-align: center;
	}

	a {
		color: #fff;

		&:hover {
			background: none;
			border-bottom: 0.1em solid $brand-color;
		}
	}

	p {
		width: 50vw;
		font-size: 24px;
		font-weight: 600;
		text-align: center;
		margin: auto;
		color: #fff;
	}
}

.center {
	@extend %vertical-align;
}
