.island {
	max-width: 45rem;
	margin-left: auto;
	margin-right: auto;
	padding: 22px 22px 1px;
}

.content-brand {
	background: $brand-color;
	color: #fff;
}


.content-main {
	background: $grey-1;
}

.content-sec {
	background: $grey-2;
}

.content-footer {
	background: $grey-3;
}
