<form method="POST" action="http://formspree.io/support@lbrl.org">
	<label for="senderName">Navn eller foretak</label>
	<input name="name" type="name" id="senderName" placeholder="Ola Nordmann eller Mitt Firma" required>

	<label for="senderEmail">E-post adresse</label>
	<input name="_replyto" type="email" id="senderEmail" placeholder="ola.nordmann@epost.no" required>

	<label for="senderContent">Forespørsel</label>
	<textarea name="message" rows="5" id="senderContent" required></textarea>

	<input type="hidden" name="_subject" value="LBLR oppdrag" />
	<input type="hidden" name="_next" value="http://lbrl.org/thanks/" />
	<input type="text" name="_gotcha" style="display:none" />

	<button type="submit" class="btn btn-positive pull-right">Send</button>
</form>
