<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Ruben Leikarnes">

	<!-- Disable tap highlight on IE -->
	<meta name="msapplication-tap-highlight" content="no">

	<!-- Color the status bar on mobile devices -->
	<meta name="theme-color" content="#d5353d">

	<link rel="dns-prefetch" href="//google-analytics.com">

	<title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

	<style type="text/css">
		{% capture include_to_scssify %}
			{% include critical.scss %}
		{% endcapture %}
		{{ include_to_scssify | scssify }}
	</style>
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
